:root {
    --text: #00090f;
    --background: #fafdff;
    --primary: #1fa9f9;
    --secondary: #7e82fc;
    --accent: #603dfa;
}

body[data-theme="dark"] {
    --text: #f0f9ff;
    --background: #000305;
    --primary: #0690e0;
    --secondary: #030881;
    --accent: #2805c2;
}